<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config" xsi:type="con:WsdlInterface" id="cbf72bfb-cb9d-4ed4-9a80-7efb475e01b8" wsaVersion="NONE" name="PPIServiceFacadeSoap12" type="wsdl" bindingName="{https://www.velocitypayment.com/ws}PPIServiceFacadeSoap12" soapVersion="1_2" anonymous="optional" definition="https://qa.velocitypayment.com/vgateway/VGatewayWebService?WSDL">
  <con:settings id="1504632d-839e-412c-94c1-5ccc64ea9782">
    <con:setting id="cbf72bfb-cb9d-4ed4-9a80-7efb475e01b8fileName">PPIServiceFacadeSoap121</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>https://qa.velocitypayment.com:443/vgateway/VGatewayWebService12</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="340ce76f-4c26-4168-ad5e-9f459d02a685">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="e9ddc45e-62b1-4856-b842-795d88eb9ee8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0bb03ed4-90c7-439a-b3c1-5b9d4c6d7f88">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="82a1c8f6-c89d-4861-b0b2-369393cfc3a1">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="7a9b6b2f-ab95-4cd7-a195-a7db683f2af4">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="1329e3cc-e169-41bd-abb7-aebc80d04a9e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
